body {
    background-color: oldlace;
    font-family: sans-serif;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    font-family: serif;
    text-align: center;
    color: firebrick;
}

h2 {
    font-family: serif;
}
p {
  font-family: monospace;
    color: darkred;
}
img {
    width: 250px;
}
hr { 
    color: black;
}


